{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">  
<main>
    <div class="login">
      {% if msg %}
        <label for="">{{ msg }}</label>
      {% endif %}
      <style>
       
      </style>
      <form method="post" class="register-form">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
          <tr>
            <td></td>
            <td>
              <input type="submit" name="submit" value="Registrar" class="register"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </main>
{% endblock %}
